/* LOGIN FORM*/
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
height: 90%;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 320px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon_fb span{
font-size: 40px;
margin-left: 20px;
color: #3B5998;
}

.social_icon_google span{
font-size: 40px;
margin-left: 20px;
color: #DE5246;
}

.social_icon_fb span:hover{
color: black;
cursor: pointer;
}

.social_icon_google span:hover{
color: black;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon_fb{
position: absolute;
right: 20px;
top: 0px;
}

.social_icon_google{
position: absolute;
right: 60px;
top: 0px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: black;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}