<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Covid-19</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-header">
		 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
			    </button>
			 	<a class="navbar-brand"> <img
					th:src="@{/images/covid-logo.png}" width="30" height="30"
					class="d-inline-block align-top" alt="" loading="lazy">
					COVID-19
				</a>
		 </div>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
			
				<li class="nav-item"><a class="nav-link" th:href="@{/index}">Datos mundiales</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/graficas}">Gráficas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menú</a></li>
				
			</ul>
			<div class="form-inline my-2 my-lg-0" sec:authorize="!isAuthenticated()">
				<a class="btn btn-primary" th:href="@{/login}" role="button">Iniciar sesión</a>
			</div>
			<div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<button onclick="document.getElementById('logoutForm').submit" class="btn btn-light" type="submit">Cerrar sesión</button>
				</form>	
			</div>
		</div>
	</nav>
	<!-- Navbar -->

<!-- Flash message: Error de credenciales -->
<div th:if="${error}">
	<div class="alert alert-danger" role="alert" th:text="${error}"></div>
</div>
<!-- Flash message: Error de credenciales -->

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Iniciar sesión</h3>
				<!-- Íconos Google/Facebook -->
				<!--  
				<div class="d-flex justify-content-end social_icon_fb">
					<span><i class="fab fa-facebook-f"></i></span>
				</div>
				<div class="d-flex justify-content-end social_icon_google">
					<span><i class="fab fa-google"></i></span>
				</div> -->
				<!-- Íconos Google/Facebook -->
			</div>
			
			<div class="card-body">
				<form th:action="@{/login}" method= "post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" id="username" class="form-control" placeholder="Correo electrónico">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
					</div>

					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>

			<!-- Registro y Recuperación de contraseña -->  
			<div class="card-footer">
				<div class="d-flex justify-content-center links">¿No tienes una cuenta?
					<a th:href="@{/signup}">Regístrate</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">¿Olvidaste tu contraseña?</a>
				</div>
			</div>
			<!-- Registro y Recuperación de contraseña -->
			
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>