<html xmlns:th="http://www.thymeleaf.org">
<head>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Covid-19</title>
<title>Bootstrap DatePicker</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
	
	 <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	 <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<script src="https://www.google.com/jsapi"></script>
    
	
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-header">
		 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
			    </button>
			 	<a class="navbar-brand"> <img
					th:src="@{/images/covid-logo.png}" width="30" height="30"
					class="d-inline-block align-top" alt="" loading="lazy">
					COVID-19
				</a>
		 </div>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
			
				<li class="nav-item"><a class="nav-link" th:href="@{/index}">Datos mundiales</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/graficas}">Gráficas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menú</a></li>
				
			</ul>
			<div class="form-inline my-2 my-lg-0" sec:authorize="!isAuthenticated()">
				<a class="btn btn-primary" th:href="@{/login}" role="button">Iniciar sesión</a>
			</div>
			<div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<button onclick="document.getElementById('logoutForm').submit" class="btn btn-light" type="submit">Cerrar sesión</button>
				</form>	
			</div>
		</div>
	</nav>
	<!-- Navbar -->

<!-- Flash messages -->
<div th:if="${error}">
	<div class="alert alert-danger" role="alert" th:text="${error}"></div>
</div>
<!-- Flash messages -->

	<!-- Contenido -->
<div class="d-flex">	
	<div class="card-columns"style="width: 60rem;"> 
		<div class="card"style="width: 12rem;">
 			<img class="card-img-top" th:src="@{/images/Usuario.jpeg}" alt="Card image cap">
 			<div class="card-body">
   		 		<p class="card-text-justify">Complete por favor los campos de la sección siguiente para completar su registro</p>
  			</div>
		</div>
		<div class="card"style="width: 50rem;">
			<div class="card-body">
			   
			   
			   <form th:action="@{/signup}" method= "post">
  					<div class="form-group row">
   						<label class="col-sm-2 col-form-label">Nombre</label>
   						<div class="col-sm-4">
 						     <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre" required autofocus>
    					</div>
    					<div class="col-sm-6">
     						<input class="form-control" type="text" id="apellido" name="apellido" placeholder="Apellido" required autofocus>
    					</div>
  					</div>
 					<div class="form-group row">
    					<label class="col-sm-2 col-form-label">DNI</label>
   						<div class="col-sm-2">
     						<input type="text" id="numIdNacional" name="numIdNacional" class="form-control" placeholder="DNI" required autofocus>
    					</div>
    					<label for="inputPassword" class="col-sm-2 col-form-label">Sexo</label>
   						<div class="col-sm-3">
     							<select class="form-control" id="sexo" name="sexo">
    							 	<option>Masculino</option>
      								<option>Femenino</option>
   								</select>
    					</div>
  					</div>
  					<div class="form-group row">
    					<label class="col-sm-2">Fecha de nacimiento</label>
   						<div class="col-sm-4">
     						<input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required autofocus>
    					</div>
  					</div>
  					<div class="form-group row">
    					<label class="col-sm-2 col-form-label">Correo</label>
   						<div class="col-sm-5">
     						<input type="text" id="correo" name="correo" class="form-control" placeholder="Correo electrónico" required autofocus>
    					</div>
  					</div>
  			 		<div class="form-group row">
    					<label class="col-sm-2 col-form-label">Ciudad de residencia</label>
   						<div class="col-sm-3">
     						<input type="text" id="pais" name="pais" class="form-control" placeholder="Pais" required autofocus>
    					</div> 
    					<div class="col-sm-3">
     						<input type="text" id="ciudad" name="ciudad" class="form-control"placeholder="Ciudad" required autofocus>
    					</div>
    					<!--
    					<div class="col-sm-3">
     						<input type="text" id="distrito" class="form-control"placeholder="Distrito" required autofocus>
    					</div>
    					-->
  					</div>
  					<div class="form-group row">
    					<label class="col-sm-2 col-form-label">Dirección</label>
   						<div class="col-sm-5">
     						<input type="text" id="direcion" name="direccion" class="form-control" placeholder="Dirección" required autofocus>
    					</div>
  					</div>
  					<div class="form-group row">
    					<label class="col-sm-2 col-form-label">Celular</label>
   						<div class="col-sm-5">
     						<input type="text" id="numCelular" name="numCelular" class="form-control" placeholder="Celular" required autofocus>
    					</div>
  					</div> 					 					
  					<div class="form-group row">	
  						<label class="col-sm-2 col-form-label">Contraseña</label>
   						<div class="col-sm-4">
   							<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
    					</div>   					
   						<div class="col-sm-4">
     						<input type="password" class="form-control" id="confimarPassword" name="confimarPassword" placeholder="Confirmar contraseña">
    					</div> 					
					</div>
					<div class="form-group">
						<input type="submit" value="Registrar" class="btn float-right btn-primary">
					</div>
				</form>
				
			   
	   		</div>
   		</div>
   	
		
	</div>
	<!-- Contenido -->
</div>

	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  	
	
</body>
</html>