<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Covid-19</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-header">
		 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
			    </button>
			 	<a class="navbar-brand"> <img
					th:src="@{/images/covid-logo.png}" width="30" height="30"
					class="d-inline-block align-top" alt="" loading="lazy">
					COVID-19
				</a>
		 </div>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
			
				<li class="nav-item"><a class="nav-link" th:href="@{/index}">Datos mundiales</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/graficas}">Gráficas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menú</a></li>
				
			</ul>
			<div class="form-inline my-2 my-lg-0" sec:authorize="!isAuthenticated()">
				<a class="btn btn-primary" th:href="@{/login}" role="button">Iniciar sesión</a>
			</div>
			<div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<button onclick="document.getElementById('logoutForm').submit" class="btn btn-light" type="submit">Cerrar sesión</button>
				</form>	
			</div>
		</div>
	</nav>
	<!-- Navbar -->
	
    
    <!-- Card --> 
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style=" height: 41rem; width: 40rem">
	        
	        <div class="card-header">
	            <h3>Registro de test clínico</h3>
	        </div>
			
			<div class="card-body mx-auto">
				<img class="resize_fit_center" height="280" th:src="@{/images/test-clinico.jpg}" alt="">
				
				<form th:action="@{/testclinico/registrar}" method= "post">
					<div class="form-group row">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="tipo" id="rapida" value="Prueba rápida">
					  <label class="form-check-label" for="rapida">Prueba rápida</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="tipo" id="molecular" value="Prueba PCR (molecular)">
					  <label class="form-check-label" for="molecular">Prueba PCR (molecular)</label>
					</div>
				</div>
				
				<div class="form-group row">
					<label>Fecha en la que se tomó la prueba:</label>
					<input type="text" id="datepicker" name="fecha">
				</div>
				
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="noreactivo" value="No reactivo">
				  <label class="form-check-label" for="exampleRadios1">No reactivo</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="reactivoigg" value="Reactivo IGG">
				  <label class="form-check-label" for="exampleRadios2">Reactivo IGG</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="reactivoigm" value="Reactivo IGM">
				  <label class="form-check-label" for="exampleRadios2">Reactivo IGM</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="reactivomixto" value="Reactivo Mixto">
				  <label class="form-check-label" for="exampleRadios2">Reactivo Mixto</label>
				</div>
				
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="positivo" value="Positivo">
				  <label class="form-check-label" for="exampleRadios1">Positivo</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="resultado" id="negativo" value="Negativo">
				  <label class="form-check-label" for="exampleRadios2">Negativo</label>
				</div>

					<div class="form-group">
						<input type="submit" value="Registrar" class="btn float-right login_btn">
					</div>
				</form>
				
			</div>

			<div class="card-footer">
				<div class="d-flex justify-content-center links">¿No estás seguro que prueba tomaste?
					<a href="">Ver diferencias</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
	
	
		<!-- <form th:action="@{/form}" th:object="${test}" method="post"> -->

			<!-- <div class="form-group row">
				<label for="habilitar" class="col-form-label col-sm-2">Tipo</label>
				<div class="row col-sm-4">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-control col-sm-1">
				</div>
			</div> -->
			
			
			
			<!-- 
			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" value="Enviar" class="btn btn-primary">
				</div>
			</div>
			<input type="hidden" th:field="*{valorSecreto}">
			-->
	
	<script>
	  $( function() {
	    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
	  } );
	</script>
	
	<script>
	document.getElementById("noreactivo").parentNode.style.display = "none";
	document.getElementById("reactivoigg").parentNode.style.display = "none";
	document.getElementById("reactivoigm").parentNode.style.display = "none";
	document.getElementById("reactivomixto").parentNode.style.display = "none";
	document.getElementById("rapida").onclick = displayOptions;
	
	document.getElementById("positivo").parentNode.style.display = "none";
	document.getElementById("negativo").parentNode.style.display = "none";
	document.getElementById("molecular").onclick = displayOptions;

	function displayOptions(){
		if(document.getElementById("rapida").checked){
			document.getElementById("positivo").parentNode.style.display = "none";
			document.getElementById("negativo").parentNode.style.display = "none";
			document.getElementById("noreactivo").parentNode.style.display = "block";
			document.getElementById("reactivoigg").parentNode.style.display = "block";
			document.getElementById("reactivoigm").parentNode.style.display = "block";
			document.getElementById("reactivomixto").parentNode.style.display = "block";
		}
		else{
			document.getElementById("positivo").parentNode.style.display = "block";
			document.getElementById("negativo").parentNode.style.display = "block";
			document.getElementById("noreactivo").parentNode.style.display = "none";
			document.getElementById("reactivoigg").parentNode.style.display = "none";
			document.getElementById("reactivoigm").parentNode.style.display = "none";
			document.getElementById("reactivomixto").parentNode.style.display = "none";
		}
	}	
	</script>
	
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	
  	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  	


</body>
</html>